* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top:0;
    background-color: #BDBB99;
}

.app,
.author{
    width: 95vw ;
    position: relative;
    top: -10%;
    margin-top: 15px;
    /*border: 1px dashed red;*/
}

body,
.app,
.app__main,
.app__btns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate {
    -webkit-animation-name: fadeInOut;
            animation-name: fadeInOut;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}


/***********app*************************************/
.app {
    height: 130vw;
    border-radius: 6px;
    background-color: white;
}

.app__main,
.app__btns {
    width: 95%;
    margin-top: 2%;
    /*border: 1px dashed black;*/
}

/**********app__main********************/
.app__main {
    height: 80%;
}

.app__quote,
.app__author {
    width: 95%;
    /*border: 1px dashed red;*/
    margin-top: 2%;
}

.app__quote {
    height: 75%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.app__author {
    height: 10%;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
}

/**********app__btns********************/
.app__btns {
    height: 15%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    justify-content: space-around;
    position: relative;
}

.retweet-btn,
.new-quote-btn {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
}

.retweet-btn:active,
.new-quote-btn:active {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
}

.retweet-btn:hover,
.new-quote-btn:hover {
    opacity: 0.9;
}

.new-quote-btn {
    width: 80px;
    text-align: center;
    line-height: 2.43;
}

.new-quote-btn,
.author {
    color: white;
}



.retweet-btn img{
    width: 60%;
    position: absolute;
    left: 20%;
    top: 20%;
    
}

.retweet-btn {
    position: absolute;
    left: 5px;
}

.new-quote-btn {
    position: absolute;
    right: 5px;
}




/**********author*******************************/
.author {
    text-align: center;
}

.author a{
    text-decoration: underline;
    color: white;
}

/**********media queries*************************/
@media only screen and (min-width: 375px) {
    .app {
        width: 356px;
        height: 243px;
    }
    
    .app__btns {
        margin-top: 1%;
    }
    
    .app__btn {
        height: 35px;
        line-height: 2.1
    }
}

@media only screen and (min-width: 425px) {
    .app {
        width: 410px;
        height: 300px;
    }
}

@media only screen and (min-width: 768px) {
    .app {
        width: 578px;
        height: 308px;
    }
}
